/*owl-carouselslide dots css*/

.owl-withdots .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-withdots .owl-nav button.owl-prev {
    left: 0;
    display: none;
}

.owl-withdots .owl-nav button.owl-next {
    right: 0;
    display: none;
}

.owl-withdots .owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-withdots .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-withdots .owl-dots button.owl-dot.active {
    background-color: #b08ead;
}

.owl-withdots .owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-withdots .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

.owl-withdots span {
    font-size: 70px;
    position: relative;
    top: -5px;
}

.owl-withdots .owl-nav button:focus {
    outline: none;
}

.owl-withsarrows .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-withsarrows .owl-nav button.owl-prev {
    left: 0;
}

.owl-withsarrows .owl-nav button.owl-next {
    right: 0;
}

.owl-withsarrows .owl-dots {
    text-align: center;
    padding-top: 15px;
    display: none;
}

.owl-withsarrows .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-withsarrows .owl-dots button.owl-dot.active {
    background-color: #000;
}

.owl-withsarrows .owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-withsarrows .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

.owl-withsarrows span {
    font-size: 70px;
    position: relative;
    top: -5px;
}

.owl-withsarrows .owl-nav button:focus {
    outline: none;
}


/*owl withsidearrows*/

.owl-borderxl {
    border-radius: 100% !important;
}